# Ignore everything
*

# Un-ignore tracked paths
!src/
!src/**
!configs/
!configs/**
!assets/
!assets/**
!README.md
!run.py
!requirements.txt
!.gitignore

# Re-ignore common junk inside src/ and configs/
**/.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo

# Explicitly ignored folders
configs2/
